<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      a.custom-card,
      a.custom-card:hover {
        color: inherit;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%if(meetings.length == 0) {%>
    <h4>No meetings</h4>
    <%} else {%>
    <div class="container">
      <h4>My meetings</h4>
      <div class="row mt-3">
        <%for(var i = 0; i < meetings.length; i++) {%>

        <div class="col-4">
          <a href="/meeting/<%= meetings[i]._id %>" class="custom-card">
            <div class="card border-info mb-3">
              <!-- <div class="card-header"></div> -->
              <div class="card-body text-dark">
                <h5 class="card-title"><%= meetings[i].name%></h5>
                <p class="card-text">
                  Start time: <%= meetings[i].start_time.toLocaleString()%>
                </p>

                <p class="card-text">
                  End time: <%= meetings[i].end_time.toLocaleString() %>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }} %>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
